header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.6rem;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}
/* Header Socials Stylings */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 0.9rem;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1.25px;
    height: 2.2rem;
    background: var(--color-primary);
}

/* Header Me Stylings */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.2rem;
}

/* Media Queries (Medium Devices) */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }
}