nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  left: 50%;
  padding: 0.8rem 1.8rem;
  z-index: 2;
  position: fixed;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.9rem;
  border-radius: 3.5rem;
  backdrop-filter: blur(16px);
}

nav a {
  background: transparent;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
}

nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}
